(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("7364f99a10bb0a17eacd1c13dceae422642cf81f"),
        ),
    ],
)
