(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("f368d0a0fcf3db7a13a997e0c3c91a38eac4d289"),
        ),
    ],
)
