(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("b6a3b8f8c2f8ab213275651392958ec8c87ae7a7"),
        ),
    ],
)
