(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("5cf69d673ccd2e75e3eb0515c1789ccfbb040d25"),
        ),
    ],
)
