(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("17f745e7cc32dd3b09f4e57286b0476bd58e2acc"),
        ),
    ],
)
