(
    connectors: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-connectors"),
            rev: Some("ae7ee733ae7503be369329cc5504b79596623a9c"),
        ),
    ],
)
