(
    taps: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-plugins"),
            rev: Some("5f4e4dc15a730bf44faaaf258c1f96317d15f090"),
        ),
    ],
    sources: [
        (
            name: "git-repo",
            plugin: "tap:first-party#git-repo",
            config: Some({
                "url": "https://github.com/garrytan/gbrain",
            }),
        ),
    ],
)
