(
    taps: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-plugins"),
            rev: Some("a83854309f753a1d95bed22bb6d4cf017572a84a"),
        ),
    ],
    sources: [
        (
            name: "git-repo",
            plugin: "tap:first-party#git-repo",
            config: Some({
                "url": "https://github.com/garrytan/gbrain",
            }),
        ),
    ],
)
