(
    taps: [
        (
            name: "first-party",
            repo: Some("ssh://git@github.com/drshade/kyyn-plugins"),
            rev: Some("6daaa8efc973ba5aefd47f4265ebb1302bafb4f7"),
        ),
    ],
    sources: [
        (
            name: "git-repo",
            plugin: "tap:first-party#git-repo",
            config: Some({
                "url": "https://github.com/garrytan/gbrain",
            }),
        ),
    ],
)
